<!DOCTYPE html>
<html>
<head>
    <title>Test</title>
    <meta charSet="utf-8" />
    <meta content="initial-scale=1,width=device-width" name="viewport" />
    <style type="text/css">
        @font-face {
            font-family: "bariol";
            src: url(../../assets/fonts/bariol.woff);
        }
        body {
            font-family: "bariol", Verdana, Tahoma;
        }
    </style>
</head>
<body>
<div id="react-root"></div>
<script type="text/javascript" src="/bundle.js"></script>
</body>
</html>
